# Question 1
Consider the following Python module:
a = 0
def b():
 global a
 print(a)
 a = c(a)
def c(a):
 return a + 2
After importing the module into the interpreter, you execute:
>>> b()
>>> b()
>>> b()
>>> a
?
What value is displayed when the last expression (a) is evaluated? Explain your
answer by indicating what happens in every executed statement

In [ ]:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2

In [ ]:
b()  #Initially a=0, when b() is executed, a=c(0)=> a= 0+2 => a=2
b()  #Now a=2, when b() is executed, a=c(2)=> a= 2+2 => a=4
b()  #Now a=4, when b() is executed, a=c(4)=> a= 4+2 => a=6
a    #Now a=6

# Question 2
Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:
>>> fileLength('midterm.py')
284
>>> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory:
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read
as a text file, an exception will be raised. Modify function fileLength() so that a
friendly message is printed instead:
>>> fileLength('midterm.py')
358
>>> fileLength('idterm.py')
File idterm.py not found.

In [ ]:
def fileLength(fileName):
    try:
        fileOpen = open(fileName, "r") #open and reading the file
        data = fileOpen.read()
        fileOpen.close()
        print(len(data))
    except:
        print('File {} not found.'.format(fileName)) 
    
    
fileLength("C:\\Users\\gdeep\\Documents\\BDAT\\bloodtype1.txt")

In [ ]:
fileLength('idterm.py')

# Question 3
Write a class named Marsupial that can be used as shown below:
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves as shown below.
>>> k = Kangaroo(0,0)
>>> print(k)
I am a Kangaroo located at coordinates (0,0)
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
>>> k.pouch_contents()
['doll', 'firetruck', 'kitten']
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> print(k)
I am a Kangaroo located at coordinates (3,0)

In [2]:
class Marsupial:
    
    def __init__(self):
        self.pouchList = [] #pouchList is a list
    def put_in_pouch(self,inputWord):
        self.pouchList.append(inputWord) #append words to list
    def pouch_contents(self):
        return(self.pouchList) #return the list
      
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [3]:
class Kangaroo(Marsupial):
    def __init__(self,x,y):
        Marsupial.__init__(self)
        self.x = x
        self.y = y
        
    def jump(self,dx,dy):
        self.x += dx
        self.y += dy
        
    def __str__(self):
        return 'I am a Kangaroo located at coordinates '+ '({}, {})'.format(self.x, self.y) 

k = Kangaroo(0,0)
print(k)

I am a Kangaroo located at coordinates (0, 0)

In [ ]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

In [ ]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

In [ ]:
k1 = Kangaroo(0,0)
k1.jump(1,0)
k1.jump(1,0)
k1.jump(1,0)
print(k1)

# Question 4
Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:
x = {
洧논/2 洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐뜦n3洧논 + 1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬洧녬
Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops.
>>> collatz(1)
1
>>> collatz(10)
10
5
16
8
4
2
1

In [ ]:
def collatz(positiveInteger):
    if positiveInteger <=0:
        print("Please provide a positive integer.")
    elif positiveInteger ==1:
        print(positiveInteger)
    elif positiveInteger % 2 == 0:
        print(positiveInteger)
        positiveInteger= int(positiveInteger/2)
        collatz(positiveInteger)
    else:
        print(positiveInteger)
        positiveInteger= int(3*positiveInteger+1)
        collatz(positiveInteger)
collatz(1)

In [ ]:
collatz(10)

# Question 5
Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.
>>> binary(0)
0
>>> binary(1)
1
>>> binary(3)
11
>>> binary(9)
1001

In [ ]:
def binary(num):
    if num==0:
        return num
    elif num<0:
        print("Please provide a positive integer.")
    else:
        binary(int(num/2))
        print(num%2, end="")
        
binary(0)

In [ ]:
binary(1)

In [ ]:
binary(3)

In [ ]:
binary(9)

# Question 6
Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should
print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should haveindentation 0, and h2 heading should have indentation 1, etc. Test your
implementation using w3c.html.
>>> infile = open('w3c.html')
>>> content = infile.read()
>>> infile.close()
>>> hp = HeadingParser()
>>> hp.feed(content)
W3C Mission
Principles

In [39]:
from html.parser import HTMLParser
class MyHeadingParser(HTMLParser):
    def __init__(self):
        HTMLParser.__init__(self)
        self.isHeadingFound = False
            
    def handle_data(self, data):
        if self.isHeadingFound == True:
            print(' '*self.indent, data, end = '')
    def handle_starttag(self, tag , attr):
        head = ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']        
        if tag in head:
            self.isHeadingFound = True
            self.indent = head.index(tag)
        else:
            self.isHeadingFound = False

In [40]:
infile = open('C:\\Users\\gdeep\\Documents\\BDAT\\BDAT 1004 - Data Programming\\PS2\\w3c.txt')
content = infile.read()
#print(content)
infile.close()
hp = MyHeadingParser()
hp.feed(content)

 W3C Mission
	  Principles

# Question 7
Implement recursive function webdir() that takes as input: a URL (as a string) and 
non-negative integers depth and indent. Your function should visit every web 
page reachable from the starting URL web page in depth clicks or less, and print 
each web page's URL. As shown below, indentation, specified by indent, should 
be used to indicate the depth of a URL.
>>> 
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
, 2, 0)
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [49]:
from html.parser import HTMLParser    
from urllib.request import urlopen
from urllib.parse import urljoin

class Web(HTMLParser):
    

    def __init__(self, url): # constructor to initializa url,pare=ser and list
      
        HTMLParser.__init__(self)
        self.url = url
        self.linkslist = []


    def append(self):
        
        return self.linkslist




    def handle_starttag(self, tag, attributes): #function to collect hyperlinks
        for attr in attributes:
            attrs = urljoin(self.url, attr[1])
            if attrs[:4] == 'http': 
                self.linkslist.append(attrs)
i = 0
def webdir(url, depth, i):
   

    depth = depth - 1    
    print(i*'  ', url)         

    objective = urlopen(url).read().decode()
    collection = Web(url)
    collection.feed(objective)
    urls = collection.append() 
 
    linkslist = urls
    i = i + 4


    for link in linkslist:
        if i < 0 or depth < 0:
            return 1
        else:
            webdir(link, depth, i)



webdir('http://reed.cs.depaul.edu/lperkovic/test1.html', 2, 0)

 http://reed.cs.depaul.edu/lperkovic/test1.html
         http://reed.cs.depaul.edu/lperkovic/test2.html
                 http://reed.cs.depaul.edu/lperkovic/test4.html
         http://reed.cs.depaul.edu/lperkovic/test3.html
                 http://reed.cs.depaul.edu/lperkovic/test4.html

# Question 8
Write SQL queries on the below database table that return:

In [3]:
%reload_ext sql

In [4]:
%sql sqlite://

In [5]:
%%sql
CREATE TABLE tableTemparature(City varchar(255), Country varchar(255), Season varchar(255), Temperature float, Rainfall float);
INSERT INTO tableTemparature VALUES('Mumbai', 'India', 'Winter', '24.8', '5.9');
INSERT INTO tableTemparature VALUES('Mumbai', 'India', 'Spring', '28.4', '16.2');
INSERT INTO tableTemparature VALUES('Mumbai', 'India', 'Summer', '27.9', '1549.4');
INSERT INTO tableTemparature VALUES('Mumbai', 'India', 'Fall', '27.6', '346.0');
INSERT INTO tableTemparature VALUES('London', 'United Kingdon', 'Winter', '4.2', '207.7');
INSERT INTO tableTemparature VALUES('London', 'United Kingdon', 'Spring', '8.3', '169.6');
INSERT INTO tableTemparature VALUES('London', 'United Kingdon', 'Summer', '15.7', '157.0');
INSERT INTO tableTemparature VALUES('London', 'United Kingdon', 'Fall', '10.4', '218.5');
INSERT INTO tableTemparature VALUES('Cairo', 'Egypt', 'Winter', '13.6', '16.5');
INSERT INTO tableTemparature VALUES('Cairo', 'Egypt', 'Spring', '20.7', '6.5');
INSERT INTO tableTemparature VALUES('Cairo', 'Egypt', 'Summer', '27.7', '0.1');
INSERT INTO tableTemparature VALUES('Cairo', 'Egypt', 'Fall', '22.2', '4.5');

 * sqlite://
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [6]:
%sql SELECT * FROM tableTemparature;

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdon', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdon', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdon', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdon', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

a) All the temperature data

In [7]:
%sql SELECT Temperature FROM tableTemparature;

 * sqlite://
Done.

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

b) All the cities, but without repetition.

In [9]:
%sql SELECT DISTINCT City FROM tableTemparature;

 * sqlite://
Done.

[('Mumbai',), ('London',), ('Cairo',)]

c) All the records for India.

In [11]:
%sql SELECT * FROM tableTemparature WHERE Country = 'India'

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

d) All the Fall records

In [12]:
%sql SELECT * FROM tableTemparature WHERE Season = 'Fall'

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdon', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

e) The city, country, and season for which the average rainfall is between 200 
and 400 millimeters.

In [13]:
%sql SELECT City, Country, Season FROM tableTemparature WHERE Rainfall BETWEEN 200 And 400;

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdon', 'Winter'),
 ('London', 'United Kingdon', 'Fall')]

f) The city and country for which the average Fall temperature is above 20 
degrees, in increasing temperature order.

In [15]:
%sql SELECT City, Country FROM tableTemparature WHERE Season = 'Fall' And Temperature > 20 ORDER BY Temperature ASC;

 * sqlite://
Done.

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

g) The total annual rainfall for Cairo.

In [18]:
%sql SELECT City, SUM(Rainfall) FROM tableTemparature WHERE City = 'Cairo'

 * sqlite://
Done.

[('Cairo', 27.6)]

h) The total rainfall for each season.

In [22]:
%sql SELECT Season, Sum(Rainfall) FROM tableTemparature GROUP BY Season;

 * sqlite://
Done.

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

# Question 9
. Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 
'the', 'lazy', 'dog']

In [25]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

Write list comprehension expressions that use list words and generate the following 
lists:

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 
'LAZY', 'DOG']

In [26]:
upper_words = [word.upper()  for word in words]
upper_words

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 
'lazy', 'dog']

In [28]:
lower_words = [word.lower()  for word in words]
lower_words

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list 
words).

In [31]:
word_length = [len(word)  for word in words]
word_length

[3, 5, 5, 3, 5, 4, 3, 4, 3]

d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], 
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list 
words, where each list contains the word in uppercase and lowercase and the 
length of the word.)

In [34]:
combined_list= [[word.upper(), word.lower(), len(word)] for word in words]
combined_list

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 
'lazy', 'dog'] (the list of words in list words containing 4 or more 
characters.)

In [35]:
More_Words=[word for word in words if len(word)>=4]
More_Words

['quick', 'brown', 'jumps', 'over', 'lazy']